{% extends "base.html" %}

<!-- page title -->
{% block title %}Mansard API Explorer{% endblock %}


<!-- content -->
{% block content %}
  <!-- page main content goes here -->
{% endblock %}


<!-- footer -->
{% block footer %}

  <!-- copyright text -->
  <div class="row">
    <div class="col text-center">
      <p class="small text-primary"><a href="https://mansard.net>"><img src="{{ url_for('static', filename='logo_aqua_text.svg') }}" width='125px' class="img-fluid float-left" alt="Mansard Consulting Logo">&nbsp;Copyright &copy; 2020 Mansard Consulting LLC</a></p>
    </div>
  </div>
  
{% endblock %}
<!-- end footer -->
